In [2]:
from utils import *
from datetime import datetime
#from sqlalchemy import create_engine
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [6]:
URL = 'https://www.tigo.com.py/catalogo-prepago'

TODAY = datetime.today()
driver = initChrome()
driver.get(URL)
df=pd.DataFrame(columns=["nombre","precio_total","cuotas","precio_cuotas","financiamiento","img","url","fecha_extraccion"])

items=driver.find_elements(By.CLASS_NAME,"column.mb-2.is-6-tablet.is-4-fullhd")
for item in items:
    marca=item.find_element(By.TAG_NAME,"h3").text
    modelo=item.find_element(By.TAG_NAME,"h2").text
    title = marca + " " + modelo

    price = item.find_element(By.CLASS_NAME,"is-size-6.text-secondary").text
    new_price=(price.replace('.','')).replace("Gs","")

    # extraemos la imagen y el link de referencia, junto con el costo de las cuotas
    img = item.find_element(By.TAG_NAME,"img").get_attribute("src")
    link = item.find_element(By.TAG_NAME,"a").get_attribute("href")
    fee_price = new_price
    fees = 1
    df.loc[len(df),:]=[title,new_price,fees,fee_price,"Contado",img,link,TODAY]

print("Se ha completado la extraccion de datos")

sleep(10)
driver.close()

Se ha completado la extraccion de datos

In [7]:
df.head()

,nombre,precio_total,cuotas,precio_cuotas,financiamiento,img,url,fecha_extraccion
0,LG K4,220000,1,220000,Contado,https://images.tigocloud.net/j1bxozgharz5/22Vc...,javascript:;,2023-03-21 19:23:28.648469
1,BOLD T5 Plus,410000,1,410000,Contado,https://images.tigocloud.net/j1bxozgharz5/72pE...,javascript:;,2023-03-21 19:23:28.648469
2,NOKIA C01 Plus,556000,1,556000,Contado,https://images.tigocloud.net/j1bxozgharz5/6dnx...,javascript:;,2023-03-21 19:23:28.648469
3,LG Q60,600000,1,600000,Contado,https://images.tigocloud.net/j1bxozgharz5/2tWd...,javascript:;,2023-03-21 19:23:28.648469
4,MOTOROLA Moto E20,820000,1,820000,Contado,https://images.tigocloud.net/j1bxozgharz5/K12g...,javascript:;,2023-03-21 19:23:28.648469

In [8]:
URL = 'https://www.tigo.com.py/catalogo-pospago'

TODAY = datetime.today()
driver = initChrome()
driver.get(URL)
df2=pd.DataFrame(columns=["nombre","precio_total","cuotas","precio_cuotas","financiamiento","img","url","fecha_extraccion"])

items=driver.find_elements(By.CLASS_NAME,"column.mb-2.is-6-tablet.is-4-fullhd")
for item in items:
    marca=item.find_element(By.TAG_NAME,"h3").text
    modelo=item.find_element(By.TAG_NAME,"h2").text
    title = marca + " " + modelo

    price = item.find_element(By.CLASS_NAME,"is-size-6.text-secondary").text
    new_price=(price.replace('.','')).replace("Gs","")

    # extraemos la imagen y el link de referencia, junto con el costo de las cuotas
    img = item.find_element(By.TAG_NAME,"img").get_attribute("src")
    link = item.find_element(By.TAG_NAME,"a").get_attribute("href")
    fee_price = new_price
    fees = 1
    df2.loc[len(df2),:]=[title,new_price,fees,fee_price,"Contado",img,link,TODAY]

print("Se ha completado la extraccion de datos")

sleep(10)
driver.close()

Se ha completado la extraccion de datos

In [9]:
df2.head()

,nombre,precio_total,cuotas,precio_cuotas,financiamiento,img,url,fecha_extraccion
0,SAMSUNG Galaxy S23,310000 / mes,1,310000 / mes,Contado,https://images.tigocloud.net/j1bxozgharz5/1Vud...,javascript:;,2023-03-21 19:24:21.885552
1,SAMSUNG Galaxy S23+,325000 / mes,1,325000 / mes,Contado,https://images.tigocloud.net/j1bxozgharz5/34wT...,javascript:;,2023-03-21 19:24:21.885552
2,SAMSUNG Galaxy S23 Ultra,400000 / mes,1,400000 / mes,Contado,https://images.tigocloud.net/j1bxozgharz5/6NE7...,javascript:;,2023-03-21 19:24:21.885552
3,SAMSUNG Galaxy Z Fold4,565000 / mes,1,565000 / mes,Contado,https://images.tigocloud.net/j1bxozgharz5/6Pv5...,javascript:;,2023-03-21 19:24:21.885552
4,SAMSUNG Galaxy Z Flip4,320000 / mes,1,320000 / mes,Contado,https://images.tigocloud.net/j1bxozgharz5/7FwX...,javascript:;,2023-03-21 19:24:21.885552

In [ ]:
from utils import *
from datetime import datetime
from sqlalchemy import create_engine
import pandas as pd
import re

URL = 'https://www.tigo.com.py/catalogo-pospago'

TODAY = datetime.today()
driver = initChrome()
driver.get(URL)
df2=pd.DataFrame(columns=["nombre","precio_total","cuotas","precio_cuotas","financiamiento","img","url","fecha_extraccion"])

paginas = driver.find_element(By.CLASS_NAME,'pagination').find_elements(By.TAG_NAME,'li')

for j in range (len(paginas)):
    elementos = driver.find_elements(By.CLASS_NAME,'product-item')
    for i in range(len(elementos)):
        paginas = driver.find_element(By.CLASS_NAME,'pagination').find_elements(By.TAG_NAME,'li')
        paginas[j].click()
        sleep(1)
        elementos = driver.find_elements(By.CLASS_NAME,'product-item')
        elementos[i].find_element(By.CLASS_NAME,'button').click()

        sleep(1)
        driver.get(URL)
        sleep(2)





# items=driver.find_elements(By.CLASS_NAME,"column.mb-2.is-6-tablet.is-4-fullhd")
# for item in items:
#     marca=item.find_element(By.TAG_NAME,"h3").text
#     modelo=item.find_element(By.TAG_NAME,"h2").text
#     title = marca + " " + modelo

#     price = item.find_element(By.CLASS_NAME,"is-size-6.text-secondary").text
#     new_price=(price.replace('.','')).replace("Gs","")

#     # extraemos la imagen y el link de referencia, junto con el costo de las cuotas
#     img = item.find_element(By.TAG_NAME,"img").get_attribute("src")
#     link = item.find_element(By.TAG_NAME,"a").get_attribute("href")
#     fee_price = new_price
#     fees = 1
df2.loc[len(df2),:]=[title,new_price,fees,fee_price,"Contado",img,link,TODAY]

print("Se ha completado la extraccion de datos")

sleep(10)
driver.close()